@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$font-stack: 'Source Sans Pro', sans-serif;
$background: #f8f9fa;
$primary-font: #212529;

html,
body,
#root,
.darkmode,
.lightmode {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  // display: block;
  font-size: 1rem;
  background-color: $background;
}

#overview {
  margin-bottom: 0.15em;
  text-align: left;
  --max-lines: 3;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 0.1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 0.15em;
  text-align: left;
  margin-bottom: 0.15em;
  @media (min-width: 600px) {
    --max-lines: 4;
    -webkit-line-clamp: 4;
    max-height: calc(var(--lh) * var(--max-lines));
  }
}

#beat {
  display: flex;
  margin: 0 auto;
  position: fixed;
  top: 65%;
  z-index: 100000;
  left: 40%;
}

#logos {
  display: flex;
  // flex-wrap: wrap;
  gap: 0.25rem;
  padding-top: 0.5rem;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch;
}

#logos::-webkit-scrollbar {
  display: none;
}

#shinediv {
  position: relative;

  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 75%;
}

#recposterdiv {
  position: relative;
  border-radius: 3px;
}

#recposterdiv:before {
  content: '';
  position: absolute;
  top: 5%;
  left: -100px;
  width: 70px;
  height: 97%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 99999999999999999999;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

#shinediv:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 70px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes slide {
  0% {
    left: -100;
    top: 0;
  }
  50% {
    left: 120px;
    top: 0px;
  }
  100% {
    left: 290px;
    top: 0;
  }
}
#logo {
  width: 3rem;
  height: 3rem;
  // flex: 0 0 auto;
  border-radius: 75%;
}
@media only screen and (min-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  #beat {
    left: 48%;
  }
}

#searchdiv {
  margin: 0 auto;
  // margin-right: 1.9rem;
  // margin-bottom: 1.5rem;
}
.darkmode {
  background-color: $primary-font;
  color: #f8f9fa;
  height: 100%;

  canvas {
    background-color: #212529;
  }
  #searchbtn {
    background-color: #212529;
  }

  html {
    background-color: #212529;
  }
  body {
    background-color: #212529;
  }

  #root {
    background-color: #212529;
  }

  #randomdiv {
    background-color: #212529;
  }
  #blackstars {
    fill: #f8f9fa;
  }
  #blankstars {
    fill: #f8f9fa;
  }

  #search {
    background-color: $primary-font;
    box-shadow: 0 10px 40px #adb5bd, 0 0 0 20px #212529;
    -webkit-box-shadow: 0 10px 40px #adb5bd, 0 0 0 20px #212529;
    -moz-box-shadow: 0 10px 40px #adb5bd, 0 0 0 20px #212529;
    color: $background;
    border: 3px solid #adb5bd;
    :placeholder {
      color: #f8f9fa;
    }
  }

  #xpath {
    fill: #f8f9fa;
  }
}

div {
  text-decoration: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
/* clears the 'X' from Internet Explorer */
input.hide-clear[type='search']::-ms-clear,
input.hide-clear[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input.hide-clear[type='search']::-webkit-search-decoration,
input.hide-clear[type='search']::-webkit-search-cancel-button,
input.hide-clear[type='search']::-webkit-search-results-button,
input.hide-clear[type='search']::-webkit-search-results-decoration {
  display: none;
}
#stars {
  min-width: 100%;
  margin: 0;
}

.stars {
  min-width: 100%;
}

.moviecontainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100%;
  gap: 1rem;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  overflow: hidden;
  width: 100%;
  @media (min-width: 600px) {
    gap: 0.5rem;
  }
}

#trending {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: center;
  border-radius: 1.4rem;
  max-width: 100%;
  margin-left: 1rem;
  text-decoration: underline;
  font-weight: bold;
}

#x {
  z-index: 9999999999;
  left: 87%;
  position: relative;
  top: 3%;
  &:hover {
    cursor: pointer;
  }
}

#xpath {
  fill: #495057;
}

//   @media
//   only screen and (-webkit-min-device-pixel-ratio: 1),
//   only screen and (   min--moz-device-pixel-ratio: 1),
//   only screen and (     -o-min-device-pixel-ratio: 1/1),
//   only screen and (        min-device-pixel-ratio: 1) and (min-width: 375px) and (orientation: portrait) {
//     /* Retina styles here */
//     left: 4%;
// }

.movies {
  // min-width: 8rem;
  display: flex;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  gap: 10rem;
  @media (min-width: 600px) {
    gap: 0.5rem;
  }
}

.poster {
  align-items: center;
  width: 10rem;
  justify-content: center;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
  @media (min-width: 600px) {
    width: 12rem;
  }
}

#detailswrapper {
  display: flex;
  font-size: 0.25rem;
  flex-direction: column;
  min-width: 100%;
  // padding-right: .65em;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#title {
  // font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
  font-size: 1.5rem;
  // line-height: 2rem;
  @media (min-width: 600px) {
    font-size: 2rem;
  }
}

#contentlink {
  text-decoration: none;
  font-size: 1.4em;
  margin-bottom: 0.5em;
  font-weight: normal;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
#release {
  color: darken(#adb5bd, 5%);
  margin-bottom: 0.25em;
  font-size: 1rem;
}

#rating {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.25em;
  // font-size: 1rem;
}

#reviews {
  margin-left: 0.5rem;
  font-size: 1rem;
  @media (min-width: 600px) {
    font-size: 0.75rem;
  }
  // min-width: 100px;
}

#homebtn {
  width: 2em;
  margin-top: 0.3rem;
  // margin-right: 5em;
  // margin-right: 1.5em;
  &:hover {
    cursor: pointer;
  }
}

#homepath {
  &:hover {
    fill: darken(#adb5bd, 18%);
  }
}
#providers {
  color: #4cc9f0;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
  margin-top: 0.5rem;
}

#detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#detailposter {
  width: 24rem;
  margin: 1rem 0.5rem;
  margin-bottom: 0;
  @media (min-width: 600px) {
    width: 28rem;
  }
}

#detaildetails {
  text-align: start;
  margin: 2rem;
  text-decoration: none;
  max-width: 97%;
}

#detailtitle {
  font-size: 2rem;
  font-weight: bold;
  @media (min-width: 600px) {
    font-size: 1rem;
  }
}

#detailoverview {
  margin-bottom: 0.5em;
  font-size: 1rem;
  @media (min-width: 600px) {
    font-size: 0.875rem;
  }
}

#detailrelease {
  color: darken(#adb5bd, 5%);
  font-size: 1rem;
  @media (min-width: 600px) {
    font-size: 0.875rem;
  }
}

#likethis {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  align-self: flex-start;
  text-decoration: underline;
  margin-left: 0.75rem;
  margin-bottom: 1rem;
  @media (min-width: 600px) {
    margin-left: 0;
    margin-bottom: 0;
  }
}

#recs {
  display: flex;
  flex-direction: column;
  position: relative;
  // margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-left: 0.85rem;
}

#recposter {
  width: 95%;
  position: relative;
  margin: auto;
  border-radius: 3px;
  &:hover {
    box-shadow: 3px 3px 5px 6px #ccc;
  }
  @media (min-width: 600px) {
    width: 11rem;
  }
  // #recposter {
  //   width: 24rem;
  //   padding: 0.25rem;
  //   border-radius: 3px;
  //   &:hover {
  //     box-shadow: 3px 3px 5px 6px #ccc;
  //   }
  // }
}

#rectitle {
  color: white;
  width: 8.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  justify-content: center;
  text-align: center;
  // margin-top: .25em;
  // margin-bottom: .5em;
  // font-size: 2.5rem;
  z-index: 1000000;
}

#type {
  text-decoration: underline;
  margin-bottom: 0.25rem;
  font-weight: 300;
  font-size: 1rem;
}

@media screen and (min-device-width: 1440px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  #searchbar {
    margin: 0 auto;
    padding-right: 0;
  }

  #beat {
    left: 46%;
    top: 65%;
  }
  #searchbtn {
    left: 46%;
    top: 75%;
  }
  .toggle__box {
    transform: scale(1);
  }

  // #recposter {
  //   width: 8.2rem;
  //   padding: 0.25rem;
  //   justify-items: center;
  //   border-radius: 3px;
  //   &:hover {
  //     box-shadow: 3px 3px 5px 6px #ccc;
  //   }
  //   @media (min-width: 600px) {
  //     width: 2rem;
  //   }
  // }

  #recs {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  #rectitle {
    // margin: 0;
    margin-top: 0.75em;
    // margin: 0 auto;
    font-size: 0.5rem;
    text-align: center;
    z-index: 1000000000;
    width: 90%;

    &:hover {
      z-index: 1000;
    }
  }

  // .moviecontainer {
  //   width: 100%;
  //   margin: 0 auto;
  //   margin-top: 4rem;
  //   position: relative;
  //   top: 4rem;

  //   // margin-left: -1rem;
  // }
}
#poster {
  width: 12em;
  margin-right: 1rem;
  margin-left: 0.25rem;
}

input {
  font-size: 0.5rem;
  // margin: 5rem;
  // margin-left: 1rem;
}

::placeholder {
  font-size: 0.75rem;
  padding-left: 0.5rem;
}

#x {
  position: relative;
  left: 88%;
  padding-top: 1.5%;
  background-color: none;
}

#search {
  position: relative;
  color: #495057;
  // font-size: 1rem;
  padding: 0;
  // padding-left: 48px;
  height: 4.125rem;
  line-height: 1.5rem;
  height: 4rem;
  width: 100%;
  font-size: 1.6rem;
  margin: 0 auto;
  // padding-left: .5rem;
  // margin-left: 1rem;
}

@media only screen and (min-device-width: 770px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #searchbtn {
    top: 77%;
  }

  #poster {
    width: 12rem;
  }

  // #recposter {
  //   width: 24rem;
  //   padding: 0.25rem;
  //   border-radius: 3px;
  //   &:hover {
  //     box-shadow: 3px 3px 5px 6px #ccc;
  //   }
  // }

  #rectitle {
    font-size: 3rem;
    width: 90%;
  }

  .moviecontainer {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
  }
}
// tablet?
@media only screen and (min-device-width: 800px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #recs {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  // #recposter {
  //   width: 8.2rem;
  //   position: relative;
  //   border-radius: 3px;
  //   padding: 0.25rem;
  // }
  // #rectitle {
  //   width: 95%;
  // }

  #searchbtn {
    // left: 46.25%;
    top: 80%;
  }
}

// was meant for tablet but seems to be affecting laptop

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #recs {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    margin-left: 6.5rem;
  }

  // #recposter {
  //   width: 12rem;
  //   position: relative;
  //   margin: auto;
  //   border-radius: 3px;
  //   padding: 0.25rem;
  // }

  #rectitle {
    font-size: 1rem;
    text-align: center;
  }
  #searchbtn {
    // left: 45%;
    top: 80%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  // #recposter {
  //   width: 95%;
  // }
  #rectitle {
    width: 28rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #recs {
    display: flex;
  }

  // #recposter {
  //   width: 20rem;
  //   position: relative;
  //   margin: auto;
  //   border-radius: 3px;
  // }

  #rectitle {
    width: 16rem;
  }
  #searchbtn {
    // left: 45%;
    top: 80%;
  }
}

// extra large screens
@media only screen and (min-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  #recs {
    display: inline-grid;
    justify-content: center;
    align-items: center;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    }
  }
  #star {
    width: 24px;
    height: auto;
  }

  .moviecontainer {
    align-items: flex-start;
  }
  #recs {
    margin: 0 auto;
    padding: 0.5rem;
  }
  // #recposter {
  //   width: 19.2rem;
  //   position: relative;
  //   margin: auto;
  //   border-radius: 3px;
  // }

  #searchbtn {
    left: 45%;
    top: 80%;
  }

  #x {
    left: 97%;
    padding-bottom: 0.5%;
  }
}

.divdivider {
  margin-top: 3rem;
  @media (min-width: 600px) {
    margin-top: 4rem;
  }
}
