.searchbtn {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#somediv {
  background-color: #212529;
  margin: 0 auto;
}

#searchpath {
  &:hover {
    fill: darken(#6c757d, 15%);
  }
}

#searchicon {
  top: 82.5%;
  // right: 51%;
  &:hover {
    cursor: pointer;
  }
  @media (min-width: 600px) {
    top: 82.7%;
    right: 51%;
  }
}
#searchbtn[type='search'] {
  background-repeat: no-repeat;
  background-position: 50%;
  position: fixed;
  transition: all 0.8s ease;
  top: 80%;
  // right: 48%;
  pointer-events: all;
  overflow: visible;
  margin: 0;
  -webkit-appearance: button;
  width: 3.5rem;
  height: 3.5rem;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  // animation: createSearchBar 0.5s;
  background: linear-gradient(#495057, darken(#e9ecef, 10%));

  &:after,
  :before {
    box-sizing: border-box;
    border-radius: 36px;
    // animation: createSearchBar 0.8s;
    -webkit-transition: width 0.8s ease;
    transition: width 0.8s ease;
    width: 3.5rem;
    height: 3.5rem;
  }
  &::placeholder {
    opacity: 0;
  }
  &:focus {
    transform: translate(-37.5%, 0);
    background: darken(#e9ecef, 20%);
    outline: 0.2px dashed #495057;
    width: 60%;
    // margin-left: 7rem;
    caret-color: #495057;
    // animation: createSearchBar 0.5s;
    border-radius: 30px;
    top: 80%;
    box-shadow: 0 5px 20px #343a40, 0 0 0 10px rgba(248, 249, 250, 0.35);
    -webkit-box-shadow: 0 5px 20px #343a40, 0 0 0 10px rgba(248, 249, 250, 0.35);
    -moz-box-shadow: 0 5px 20px #343a40, 0 0 0 10px rgba(248, 249, 250, 0.35);
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    font-size: 1rem;
    // text-indent: 0.5rem;
    // padding: 0 26px;
    line-height: 1.5rem;
    @media (min-width: 600px) {
      font-size: 1.5rem;
      margin: 0 auto;
    }

    &::placeholder {
      opacity: 1;
      text-indent: -0.5rem;
      font-size: 0.1rem !important;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

#clear {
  z-index: 9999999999;
  // left: 70%;
  margin-left: 4rem;
  position: fixed;
  top: 83%;
  width: 1rem;
  color: #343a40;
  &:hover {
    cursor: pointer;
  }
  @media (min-width: 600px) {
    // left: 80%;
    margin-left: 20rem;
    top: 82.5%;
  }
}

form {
  width: 100%;
  font-size: 2rem;
  padding-right: 1rem;
}

::placeholder {
  color: #495057;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.5rem;
  // text-indent: 0.4rem;
}
