@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$font-stack: 'Source Sans Pro', sans-serif;
$background: #f8f9fa;
$primary-font: #212529;

#navbar {
  background-color: #212529;
  height: 4rem;
  // display: grid;
  // grid-template-columns: [home] 1fr [film] 1fr [shows] 10fr [signin] 10fr [toggle] 10fr [end];
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  font-weight: 400;
  min-width: 100%;
  z-index: 14;
  padding-right: 0.25rem;
  padding-left: 1rem;
  gap: 0.5rem; // font-size: 0.95rem;
  @media (min-width: 600px) {
    height: 6rem;
    font-size: 1rem;
    gap: 5rem;
  }
}

#filmbutton {
  font-size: 0.15rem !important;
  @media (min-width: 600px) {
    font-size: 1rem !important;
  }
}

#tvbutton {
  font-size: 0.15rem !important;
  @media (min-width: 600px) {
    font-size: 1rem !important;
  }
}

.signin {
  // margin-bottom: 1rem;
  display: flex !important;
  font-size: 0.15rem !important;
  color: $background;
  text-decoration: none !important;
  margin-top: 0.215rem;

  &:hover {
    cursor: pointer;
    color: none;
    text-decoration: none !important;
  }
  @media (min-width: 600px) {
    font-size: 1rem !important;
    text-decoration: none !important;
    margin-top: none;
    margin-bottom: 0.2rem;
  }
}

.signin a {
  color: #ffffff;
  text-decoration: none;
}

#homebtn {
  width: 2em;
  margin-left: -1.5rem;
  &:hover {
    cursor: pointer;
  }
}

#homepath {
  &:hover {
    fill: darken(#adb5bd, 18%);
  }
}

.option {
  color: $background;
  text-decoration: none;
  font-size: 0.15;
  // margin-right: .5em;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #adb5bd;
  }
  @media (min-width: 600px) {
    font-size: 1rem !important;
  }
}

#arrow {
  @media (min-width: 600px) {
    bottom: none;
    top: 0.225rem;
    width: 2rem;
  }
}
#profile {
  @media (min-width: 600px) {
    bottom: none;
    top: 0.2rem;
    width: 2rem;
  }
}

.toggle__box {
  display: flex;
  align-items: center;
}

.toggle__btn {
  padding: 0;
  position: relative;
  width: 2.5rem;
  height: 1.2rem;
  margin: 0 0.9rem 0 0.45rem;
}

.circle,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.circle {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #f8f9fa;
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 100px;
  z-index: 1;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.toggle__btn .circle:before {
  content: '';
  position: absolute;
  top: 0.27rem;
  left: 0.15rem;
  width: 0.75rem;
  height: 0.75rem;
  color: $background;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  background-color: $primary-font;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.toggle__btn .checkbox:checked + .circle:before {
  content: '';
  left: 1.5rem;
  background-color: #6c757d;
}

.toggle__btn .checkbox:checked ~ .layer {
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
}

.toggle__btn .circle,
.toggle__btn .circle:before,
.toggle__btn .layer {
  transition: 0.3s ease all;
}

.theme-icon {
  margin-top: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
}
