@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$font-stack: 'Source Sans Pro', sans-serif;
$background: #F8F9FA;
$primary-font: #212529;

// #root {
//   height: 100%;
//   width: 200vh;
//   overflow: scroll;

// }

html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  font-family: $font-stack;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  display: block;
  font-size: 1rem;
}

#app{
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  min-height: 100vh;
  flex-direction: column;

}
.moviecontainer{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100%;
  gap: 1rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  overflow: hidden;
  width: 100%;

}

#searchpath{
  &:hover{
    fill: darken(#6C757D, 15%);
  }
}
#navbar{
  background-color:#212529;
  height: 6rem;
  // width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  z-index: 14;
  padding-right: 1rem;
  padding-left: 1rem;

  @media (min-width: 600px) {
    height: 4rem;
  }
}

#trending{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: center;
  border-radius: 1.4rem;
  max-width: 100%;
  margin-left: 1rem; 
  text-decoration: underline;
  font-weight: bold;
  margin-top: 1rem;


}


.option{
  font-size: 1.5rem;
  color: #F8F9FA;
  text-decoration: none;
  // margin-right: .5em;
    &:hover{
      text-decoration: underline;
      cursor: pointer;
      color: #ADB5BD;
    }
    @media (min-width: 600px) {
      font-size: 1.15rem;
    }
}
#x{
  z-index: 9999999999;
  // left: 75%;
  position: fixed;
  &:hover{
    cursor: pointer;
  }
}

#searchbtn{
  width: 3.5em;
  background-repeat: no-repeat;
  background-position: 50%;
  position: fixed;
  transition: top .2s;
  top: 80%;
  left: 42.25%;
  pointer-events: all;
  z-index: 18;
  overflow: visible;
  // -webkit-appearance: button;
 

  &:hover{
    cursor: pointer;
  }

}

form{
  width: 100%;
  // margin-top: 1rem;
  font-size: 2rem;
}

#searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-size-adjust: 100%;
  background-color: darken(#6C757D, 15%);
  margin-bottom: 1rem;
  width: 80%;
  border-radius: 30px;

    &:after, :before{
      box-sizing: border-box;
    }
    
  
}

input{
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  font-size: 2rem;
  caret-color: #F8F9FA;
  text-indent: .75rem;
    &:focus{
      outline-color: #ADB5BD;
    }
  
}

::placeholder{
  color: #F8F9FA;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  text-indent: .4rem;
}

#search {
  position: relative;
  color: #F8F9FA;
  // font-size: 1rem;
  padding: 0 26px;
  // padding-left: 48px;
  background-color: darken(#6C757D, 15%);
  height: 4.125rem;
  line-height: 1.5rem;
  // border: none;
  height: 4rem;
  width: 100%;
  border-radius: 30px;
  font-size: 1.8rem;
  box-shadow: 0 10px 40px #212529, 0 0 0 20px #F8F9FA;
  
 

    &:after, :before{
    box-sizing: border-box;
    border-bottom: 2px solid #F8F9FA;
  }
}


#movies{
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

#poster{
  align-items: center;
  width: 8em;
  justify-content: center;
  margin-left: .25rem;
  margin-right: .5rem;
}

#details{
  display: flex;
  font-size: .25rem;
  flex-direction: column;
  // padding-right: .65em;
  margin: 0;
  justify-content: flex-start;
  
}

#title{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .1rem;
  // line-height: 2rem;
}

#release{
  color: darken(#ADB5BD, 5%);
  margin-bottom: .25em;


}

#overview{
  overflow: scroll;
  margin-bottom: .15em;
  text-align: left;
  --max-lines: 5;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: .1rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; 
}

#rating{
  display: flex;
  justify-content: flex-start;
  margin-top: .25em;
}



.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: none;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 35%;
  width: 50%;
  display: flex;
  flex: 1;
}



#homebtn{
  width: 2em;
  margin-top: .3rem;
  // margin-right: 5em;
  // margin-right: 1.5em;
  &:hover{
    cursor: pointer;
  }
}

#homepath{
  &:hover{
    fill: darken(#ADB5BD, 18%);
  }
  
}
#more{
  color: #4cc9f0;
  text-decoration: underline;
  &:hover{
    cursor: pointer;
  }
}

#detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#detailposter{
  width: 14rem;
  margin-left: -.1rem;
  margin-top: .5rem;
}

#detaildetails{
  text-align: start;
  margin: .75em;
  text-decoration: none;
}

#detailtitle{
  font-size: 1.6em;
  margin-bottom: .5em;
  font-weight: bold;
  margin-top: .5em;
}

#detailoverview{
  margin-bottom: .5em;
}

#detailrelease{
  color: darken(#ADB5BD, 5%);
  margin-bottom: .5em;
}

#likethis{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  align-self: flex-start;
  // margin-left: -10rem;
  text-decoration: underline;

}

#recs{
  
  display: flex;
  flex-direction: column;
  position: relative;
  // margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-left: .85rem;

  
}

#recposter{
  width: 95%;
  position: relative;
  margin: auto;
  border-radius: 3px;
  

}

#rectitle{
  color: white;
  width: 8.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  justify-content: center;
  text-align: center;
  // margin-top: .25em;
  // margin-bottom: .5em;
  font-size: 1.5rem;
    z-index: 1000000;
  
}

#type{
  text-decoration: underline;
  margin-bottom: .25rem;
  font-weight: 300;
}

#star{
  width: .5rem;
}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

  #star{
    width: .75rem;
  }
  // #recs{
  //   display: inline-grid;
  //   justify-content: center;
  // }
  
  #recposter{
    width: 14em;
    padding: .25rem;
    justify-items: center;
    border-radius: 3px;
    &:hover{
      box-shadow: 3px 3px 5px 6px #ccc;
    }
  }

  #rectitle{
    margin: 0;
    margin-top: .5em;
    font-size: .75rem;
    text-align: center;
    z-index: 1000000000;

    &:hover{
      z-index: 1000;
    }
  }

  .moviecontainer{
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    
  }
  
  }
  #poster{
    width: 12em;
    margin-right: 1rem;
    margin-left: .5rem;

  }

  #title{
    font-size: 1.5rem;

  }

  #overview{
    overflow: scroll;
    margin-bottom: .15em;
    font-size: 3em;
    text-align: left;
    overflow: hidden;
    padding-right: .1rem;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical; 

  }

  #detailposter{
    width: 18rem;

  }
  #searchbtn{
    top: 80%;
    // left: 42.5%;

  }

  #searchbar{
    width: 80%;
    // margin-left: 2rem;
    margin: 0 auto;
    
    
  }
  
  input{
    font-size: 1.5rem;
    padding-left: 1rem;

  }
  
  ::placeholder{
    font-size: 1rem;
    padding-left: .5rem;
  }
  
  #x{
    left: 79%;
    // top: 1%;
  }

  #search {
    position: relative;
    color: #F8F9FA;
    // font-size: 1rem;
    padding: 0;
    // padding-left: 48px;
    height: 4.125rem;
    line-height: 1.5rem;
    height: 4rem;
    width: 100%;
    font-size: 1.6rem;
    border: none;
    // padding-left: .5rem;
 
  }



@media only screen 
  and (min-device-width: 770px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1){

  #searchbtn{
    top: 77%;
    // left: 42.5%;
  }
      
  #star{
    width: .75rem;
  }
  
  #poster{
    width: 12rem;
  }

  #recposter{
    width: 24rem;
    padding: .25rem;
    border-radius: 3px;
    &:hover{
      box-shadow: 3px 3px 5px 6px #ccc;
    }
  }


  #rectitle{
    font-size: 3rem;
    width: 90%;
  }


  .moviecontainer{
    width: 100%;
    margin: 0;
    margin-top: 1rem;

  }

  #overview{
    font-size: 1.5rem;
    padding-right: .5rem;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical; 
  }

  #movies{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  
  }

}
// tablet?
@media only screen 
  and (min-device-width: 800px) 
  // and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    
    #recs{
  
      display: inline-grid;
      justify-content: center;
      align-items: center;  
      margin: 0 auto;  
      
    }
    
    #recposter{
      width: 8.2rem;
      position: relative;
      border-radius: 3px;
      padding: .25rem;
      
    
    }
    #rectitle{
      width: 95%;
    }

  #searchbtn{
    left: 46.25%;
    top: 80%;
  }
 
  
}

// was meant for tablet but seems to be affecting laptop

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    #recs{
  
      display: inline-grid;
      justify-content: center;
      align-items: center;    
      margin-left: 6.5rem;      
    }
    
    #recposter{
      width: 12rem;
      position: relative;
      margin: auto;
      border-radius: 3px;
      padding: .25rem;
    
    }

    #rectitle{
      font-size: 1rem;
      text-align: center;
    }
  #searchbtn{
    left: 45%;
    top: 80%;
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: landscape) { 
    #recposter{
      width: 95%;
    }
    #rectitle{
      width: 28rem;
    }
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    #recs{
  
      display: flex;
      // justify-content: center;
      // align-items: center;    
      
    }
    
    #recposter{
      width: 20rem;
      position: relative;
      margin: auto;
      border-radius: 3px;
      // padding: .25rem;
    
    }

    #rectitle{
      width: 16rem;
    }
  #searchbtn{
    left: 45%;
    top: 80%;
  }
}

// extra large screens
@media only screen
  and (min-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    #recs{
  
      display: inline-grid;
      justify-content: center;
      align-items: center;  
        
      @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}
      
    }
    
    #recposter{
      width: 12.2rem;
      position: relative;
      margin: auto;
      border-radius: 3px;
    
    }

    #searchbtn{
      left: 48%;
      top: 90%;
    }

    #star{
      width: .75rem;
    }
    #overview{
      overflow: scroll;
      margin-bottom: .15em;
      text-align: left;
      --max-lines: 5;
      position: relative;
      max-height: calc(var(--lh) * var(--max-lines));
      overflow: hidden;
      padding-right: .1rem;
      display: -webkit-box;
      -webkit-line-clamp: 9;
      -webkit-box-orient: vertical; 
    }
    
  }