@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$font-stack: 'Source Sans Pro', sans-serif;
$background: #F8F9FA;
$primary-font: #212529;

// #root {
//   height: 100%;
//   width: 200vh;
//   overflow: scroll;

// }

html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  font-family: $font-stack;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  display: block;
  font-size: 1rem;
}

#app{
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  min-height: 100vh;
  flex-direction: column;

}
.moviecontainer{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100vh;
  gap: 1em;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  overflow: hidden;
  width: 100%;

}

#navbar{
  background-color:#212529;
  height: 5em;
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
  z-index: 14;
  
}

#trending{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: center;
  border-radius: 1.2em;
  max-width: 100%;
  margin-left: 1em;  


}


#option{
  margin: 3em;
  font-size: 2em;
  color: #F8F9FA;
  text-decoration: none;

    &:hover{
      text-decoration: underline;
      cursor: pointer;
      font-weight: 600;
    }
}

#categories{
  height: 5em;
  display: flex; 
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: 5em;
}

#searchbar{
  flex: 1 0 auto;
  width: 100%;
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
  background-color: #212529;
  margin-bottom: 1em;

    &:after, :before{
      box-sizing: border-box;
    }
    
  
}

input{
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
}

::placeholder{
  color: #CED4DA;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  // padding-left: 2em;
}


#search {
  position: relative;
  color: #F8F9FA;
  width: 100%;
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
  height: 3rem;
  padding: 0 26px;
  background-color: #212529;
  height: 4.125rem;
  line-height: 1.5rem;
  border: none;
 

    &:after, :before{
    box-sizing: border-box;
    border-bottom: 2px solid #F8F9FA;
  }
}

#movies{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

img{
  width: 16em;
  margin-left: 1em;
  margin-right: 1em;

}

#poster{
  align-items: center;
  justify-content: center;
}

#details{
  display: flex;
  // font-size: 1.25em;
  flex-direction: column;
  padding-right: .65em;
  margin: 0;
  justify-content: flex-start;
  
}

#title{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: .15em;
  line-height: 2rem;
}

#release{
  color: darken(#ADB5BD, 5%);
  margin-bottom: .25em;


}

#overview{
  overflow: scroll;
  margin-bottom: .15em;
  text-align: justify;
  --max-lines: 5;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; 
}

#rating{
  display: flex;
  justify-content: flex-start;
  margin-top: .25em;
}

#star{
  width: .5em;
  margin: 0;
}


.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: none;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 35%;
  width: 50%;
  display: flex;
  flex: 1;
}

#searchbtn{
  width: 8em;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  transition: top .2s;
  pointer-events: all;
  z-index: 18;
  overflow: visible;
  -webkit-appearance: button;
  display: inline-block;
  text-align: center;
  align-items: flex-start;

  &:hover{
    cursor: pointer;
  }
}

#homebtn{
  width: 3em;
  margin-right: 5em;
  margin-left: 3em;
  &:hover{
    cursor: pointer;
  }
}

#more{
  color: #4cc9f0;
  text-decoration: underline;
  &:hover{
    cursor: pointer;
  }
}

#detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#detailposter{
  width: 24em;
  margin-left: -.1em;
  margin-top: .5em;
}

#detaildetails{
  font-size: 1.5em;
  text-align: start;
  margin: .75em;
  text-decoration: none;
}

#detailtitle{
  font-size: 1.6em;
  margin-bottom: .5em;
  font-weight: bold;
  margin-top: .5em;
}

#detailoverview{
  margin-bottom: .5em;
}

#detailrelease{
  color: darken(#ADB5BD, 5%);
  margin-bottom: .5em;
}

@media (min-width: 600px) {
  .footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 35%;
    width: 50%;
    display: flex;
    flex: 1;
  }
  
  #searchbtn{
    width: 3em;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    transition: top .2s;
    pointer-events: all;
    z-index: 18;
    overflow: visible;
    -webkit-appearance: button;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
  
    &:hover{
      cursor: pointer;
    }
  }
  
}



  