#loginwrapper {
  position: relative;
  padding: 4.6rem 0;
  max-width: 59rem;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  width: 100%;
  font-size: 3.125rem;
}

#signupwrapper {
  position: relative;
  // display: flex;
  // flex-direction: column;
  padding: 4.6rem 0;
  max-width: 59rem;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  width: 100%;
  font-size: 3.125rem;
}

#header1 {
  max-width: 40rem;
  font-size: 1.625rem;
  margin: 0 auto;
}

#header2 {
  max-width: 40rem;
  margin: 0 auto;
  font-size: 1.625rem;
  font-weight: 400;
}

.emailform {
  padding-top: 0.85rem;
  margin: 0 auto;
  max-width: 59rem;
  font-size: none;
  display: flex;
  flex-direction: column;
  height: 2rem;
}

#header3 {
  padding-bottom: 20px;
  font-size: 1.2rem;
  padding: 0 5%;
}

#inputwrapper {
  max-height: 2.5rem;
  margin: 0;
  min-width: 100%;
  justify-content: center;
}

#emailandpwwrapper {
  max-height: 2.5rem;
  margin: 0;
  min-width: 100%;
  justify-content: center;
  // display: flex;
  // flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#btndivider {
  margin-top: 1rem;
}

.input {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: start;
  appearance: auto;
  cursor: text;
  font-size: 1rem;
  caret-color: #495057;
  text-indent: 0.75rem;
  height: 2rem;
  width: 15rem;
  padding: 5px 0 5px 0;
  &:focus {
    outline-color: #495057;
    color: #495057;
  }
}

::placeholder {
  color: #495057;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.5rem;
  text-indent: 0.4rem;
}

.emailpwinput {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: start;
  appearance: auto;
  cursor: text;
  font-size: 1rem;
  caret-color: #495057;
  text-indent: 0.75rem;
  height: 2rem;
  width: 15rem;
  padding: 10px 0 10px 0;
  &:focus {
    outline-color: #495057;
    color: #495057;
  }
}
#getstartedbtn {
  position: relative;
  border: 1px solid #333;
  align-items: flex-end;
  font-size: 0.5rem;
  height: 1.9rem;
  bottom: 0.15rem;
  &:hover {
    cursor: pointer;
  }
}
